h1, h2, h3 {
    font-family: 'Meddon', cursive;
}
p {
    font-family: 'trebuchet MS', sans-serif;
    padding: 1em;
}
html {
    background-color: #1a2061;
}
body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
  }
  .headerContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 10px;
  }
  .logo img {
    max-width: 60px;
  }
  .logo {
    margin-left: 4em;
    grid-column: 1/2;
  }
  header, footer {
      color: #2c497f;
      background-color:#30b6c5;
      padding: 1em;
  }
  .name {
    text-align: center;
    grid-column: 2/4;
  }
  .socialMedia img {
    max-width: 40px;
  }
  .socialMedia {
  grid-column: 4/5;
  list-style-type: none;
  }
 
  main {
      color: #2c497f;
  }
  #hamburgerMenu {
      background: transparent;
      border: 1px solid #1a2061;
      font-size: 2rem;
      color: #1a2061;
      position: absolute;
      right: 5px;
      top: 35px;
      margin-right: 1em;
      font-size: 20px;
  }
  nav {
      background-color: transparent;
      color: #1a2061;
      text-align: center;
      grid-column: 1/5;
  }
  nav ul {
    display: flex;
  justify-content: space-between;
  font-family: 'trebuchet MS', sans-serif;
  display: none;
  }
  nav ul li {
    padding: 15px;
    display: flex;
  flex: 1 1 auto;
  }
  nav ul li a {
  padding: 15px;
  color: #1a2061;
  font-size: 20px;
  }
  nav ul li.active a {
    background-color: #1a2061;
  }
  nav a:hover {
    color: #e9c24d;
  }
  nav ul.open {
    display: block;
  }
  nav button.open {
  border: 1px solid #30b6c5;
  }
  #hamburgerMenu span:nth-child(1) {
    display: block;
  }
  #hamburgerMenu span:nth-child(2) {
    display: none;
  }
  #hamburgerMenu.open span:nth-child(1) {
    display: none;
  }
  #hamburgerMenu.open span:nth-child(2) {
    display: block;
  }
  a:link {
    text-decoration: none;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  .mainContent {
    display: grid;
  }
  .top {
   padding: 0;
   position: relative;
  }
  .top img {
    width: 100%;
    height: 100%;
  }
  .top .hotelBtn {
    position: absolute;
    bottom: .7rem;
    right: .7rem;
    background-color: #30b6c5;
    border: none;
    border-radius: 10px;
    color: #1a2061;
    font-size: 1.5rem;
    width: 50%;
    padding: .5rem;
    text-align: center;
  }
  .hotelBtn:hover {
      background-color: #e9c24d;
  }
  .temple-info {
    z-index: 1;
    position: relative;
    background-image: url("../images/ogden-temple.webp");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-style: solid;
    height: 250px;
    }
    .ogden-temple {
      top: 80px;
      left: 20px;
      width: 400px;
      height: 160px;
      position: absolute;
      background: rgba(255,255,255,0.7);
      background-image: linear-gradient(-160deg, rgba(255,255,255,0.7) 50%, rgba(100,100,100,0.7));
      font-size: 12px;
    }
    .ogden-temple h2 {
      margin-top: 1em;
      margin-left: 1em;
      margin-bottom: -0.5em;
    }
  .weather {
      z-index: 1;
      position: relative;
      background-image: url("../images/youth-temple-night.webp");
      background-size: cover;
      background-position: top;
      overflow: hidden;
      border-style: solid;
      height: 250px;
      }
    .weather img {
      float: left;
    }
    .weather p {
      color:#ffffff;
      margin-top: -7px;
      float: right;
      text-align: left;
    }
    .weather-info {
      top: 80px;
      right: 20px;
      width: 200px;
      height: 160px;
      position: absolute;
      background: rgba(255,255,255,0.7);
      background-image: linear-gradient(-160deg, rgba(255,255,255,0.7) 50%, rgba(100,100,100,0.7));
      font-size: 12px;
      text-align: center;
      font-family: 'trebuchet MS', sans-serif;;
    }
    .weather-info h2 {
      margin-top: 1em;
      margin-left: 1em;
      margin-bottom: -0.5em;
    }
    #current-temp {
      font-size: 30px;
    }
    footer img {
        width: 60px;
      }
      footer {
        text-align: center;
        list-style-type: none;
      }
      .forecast {
          z-index: 1;
          position: relative;
          background-image: url("../images/provo-city-center-temple.webp.webp");
          background-size: cover;
          background-position: center;
          overflow: hidden;
          border-style: solid;
          height: 250px;
          }
        .forecast h2 {
         padding-left: 90px;
        }
        table {
          top: 80px;
          left: 20px;
          width: 200px;
          height: 160px;
          position: absolute;
          background: rgba(255,255,255,0.7);
          background-image: linear-gradient(-160deg, rgba(255,255,255,0.7) 50%, rgba(100,100,100,0.7));
          font-size: 12px;
          text-align: center;
          font-family: 'trebuchet MS', sans-serif;;
        }
        .weather-info h2 {
          margin-top: 1em;
          margin-left: 1em;
          margin-bottom: -0.5em;
        }
      #cards {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 2em;
        
      }
        .temples {
          margin: 0.25rem;
          padding: 0.35rem;
          color: #e9c24d;
          background-color: #1a2061;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        #cards img {
         max-width: 15em;
         padding: 1em;
        }
        #cards section {
            margin: 0.25rem;
            padding: 0.35rem;
            color: #ffffff;
            background-color: #1a2061;
            border: 10px;
            border-color: #30b6c5;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
          }
          #cards div {
            color: #30b6c5;
          }
          .favorites img {
            display:block;
          }
          .favorites {
            position: absolute;
            z-index: 999;
            margin-left: 5em;
            margin-top: 1em;
          }
          form {
            padding: 1rem 0;
          }
          fieldset {
            border-radius: 5px;
            margin-bottom: 1.25rem;
            grid-column: 1;
            max-width: 450px;
        }
        fieldset legend {
            padding: 0.25rem;
        }
          form label {
            font-size: 0.8em;
        }
        form label, form div {
          margin-top: 1rem;
          padding-bottom: 0.3rem;
      }
      form label span {
        color: #e9c24d;
    }
      div label {
        margin-top: 0;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
      }
      form label, form input, form select, form textarea {
        display: block;
        width: 100%;
    }
    form input {
      margin-top: 5px;
      width: calc(100% - 0.75rem * 2);
      padding: 0.75rem;
  }
  form input, form select, form textarea {
    background-color: #eeeeee;
    border: solid 1px;
    border-radius: 4px;
  }
  form input[type="submit"] {
    background-color: #e9c24d;
    color: #1a2061;
    width: 100%;
    margin-top: 10px;
  }
  form input[type="submit"]:hover {
    background-color: #30b6c5;
  }
  form textarea {
    width: calc(100% - 5px);
    height: 4em;
    margin-top: 5px;
  }
  .services-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-size: 13.5px;
  }
  .receptionBtn {
    position: absolute;
    background-color: #e9c24d;
    border: none;
    border-radius: 10px;
    color: #1a2061;
    font-size: 1.5rem;
    width: 7em;
    padding: .5rem;
    text-align: center;
    font-family: 'trebuchet MS', sans-serif;;
  }
  .receptionBtn:hover {
    background-color: #1a2061; 
    color: #e9c24d;
  }
  .missionaryBtn {
    position: absolute;
    margin-top: 2em;
    background-color: #e9c24d;
    border: none;
    border-radius: 10px;
    color: #1a2061;
    font-size: 1.5rem;
    width: 15em;
    padding: .5rem;
    text-align: center;
    font-family: 'trebuchet MS', sans-serif;;
  }
  .missionaryBtn:hover {
    background-color: #1a2061; 
    color: #e9c24d;
  }
  .services {
    font-family: 'trebuchet MS', sans-serif;
    margin-left: 1em;
  }
  .amenities {
    font-family: 'trebuchet MS', sans-serif;
    margin-left: 1em;
  }
  h4 {
    font-family: 'trebuchet MS', sans-serif;
    padding-left: .5em;
  }
  .wedding {
    text-align: center;
  }
  .traditional {
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
    background-color: #1a2061;
    color: #e9c24d;
    grid-column: 1/2;
    grid-row: 1;
    font-family: 'Meddon', cursive;
    grid-row: 1;
    text-align: center;
  }
  .traditional-info {
    font-family: 'trebuchet MS', sans-serif;
    grid-row: 2;
  }
  .preferred {
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
    background-color: #1a2061;
    color: #e9c24d;
    grid-row: 3;
    font-family: 'Meddon', cursive;
    text-align: center;
  }
  .preferred-info {
    grid-row: 4;
    font-family: 'trebuchet MS', sans-serif;
  }
  .grand {
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
    background-color: #1a2061;
    color: #e9c24d;
    grid-row: 5;
    font-family: 'Meddon', cursive;
    text-align: center;
  }
  .grand-info {
    grid-row: 6;
    font-family: 'trebuchet MS', sans-serif;
  }
  .luncheon {
    background-color: #1a2061;
    color: #e9c24d;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
  }
  .luncheon-info {
    font-family: 'trebuchet MS', sans-serif;
  }
  * {box-sizing:border-box}

  
  .missionary {
    text-align: center;
  }
 .slideshow-container {
   display: none;
 }
 .gallery {
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 250px;
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
}
.gallery picture {
object-fit: cover;
object-position: center;
transition: all 0.3s;
}
.gallery picture img {
  display: block;
  width: 30em;
}
.gallery picture img.in {
animation: img-come-in 1s;
}

@keyframes img-come-in {
from {
    transform: scale(0.9);
    opacity: 0;
}
to {
    transform: scale(1);
    opacity: 1;
}
}