@media only screen and (min-width: 64em) {
    #contnt {
        margin: 0 auto;
        max-width: 960px;
    }
    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .principle-1 {
       grid-column: 1/2;
       grid-row: 1;
    }
    .principle-2 {
        grid-column: 2/3;
        grid-row: 1;
    }
    .principle-3 {
        grid-column: 3/4;
        grid-row: 1;
    }
    .site-1 {
        border: 2px solid #000000;
        border-radius: .25em;
    }
    .site-2 {
        border: 2px solid #000000;
        border-radius: .5em;
    }
    .site-3 {
        border: 2px solid #000000;
        border-radius: .5em;
    }
    footer {
        max-width: 960px;
        padding: 0;
        margin: -1em;
    }
}